.container {
    padding: 1.5rem;
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: start;
    overflow: hidden;
}

.page-content {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 25vh;
    opacity: 0;
    transform: translateY(100px);
    transition: all 0.5s 0.5s;
}

.page-content h1 {
    font-size: 2.5em;
    margin-bottom: 1rem;
}

.page-content h2 {
    font-size: 1.8em;
}

.page-content.show {
    opacity: 1;
    transform: translateY(0);
}

.text-white {
    color: white;
}

.nav {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    z-index: 1000;
    transition: transform 0.3s ease;
}


.hidden {
    display: none;
}


// Links
.links a {
    text-decoration: none;
    color: white;
    font-size: 3rem;
    text-decoration-line: underline;
    transition: color 0.3s ease-in-out;
}

.links a:hover {
    color: #79c7fa;
}

.links a::before {
    content: '\2192';
    display: inline-block;
    margin-right: 8px;
    font-size: 1.2em;
}

.links a::after {
    content: '\2190';
    display: inline-block;
    margin-left: 8px;
    font-size: 1.2em;
}

// Image
.background-image {
    position: absolute;
    object-fit: cover;
    z-index: -1;
    clip-path: circle(50% at center);
    background: linear-gradient(transparent 0%, black 100%);
    transition: opacity 1.5s ease;
    opacity: 0;
}

.show-image {
    opacity: 0.3;
}