@for (pageContent of pagesContent; track pageContent.id; let index=$index) {
<div #page class="full-screen-background hidden bg-{{index+1}}">

    <!-- Background Image -->
    @if(pageContent.image){
    <img id="backgroundImage-{{index}}" class="background-image"
        [src]="pageContent.image"
        alt="{{pageContent.altNameImage}}">
    }

    <!-- Text content -->
    <div id="textContent-{{index}}" class="text-content">

        <h1 class="title title-centered">{{pageContent.title}}</h1>
        <h2>{{pageContent.body}}</h2>

        @if (pageContent.clickText && pageContent.link){
        <div class="links">
            <a
                (click)="onNavigate(pageContent.link)">{{pageContent.clickText}}</a>
        </div>
        }

    </div>

    <!-- Next button -->
    <div id="nextButtonWrapper-{{index}}" class="navigation-wrapper navigation-wrapper-bottom hidden">
        <app-next-button
            [onClick]="onClickNext.bind(this, index)" direction="down"></app-next-button>
    </div>

</div>
}
