.full-screen-background {
    position: relative;
    min-height: 100vh;
    overflow: hidden;
}

.grid-centered {
    display: grid;
    place-items: center;
}

.flex-vertical-centered {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hidden {
    display: none !important;
}