// Location the navigation buttons
.navigation-wrapper {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    z-index: 1000;
    transition: transform 0.3s ease;
}

.navigation-wrapper-left {
    top: 50%;
    left: 0;
}

.navigation-wrapper-right {
    top: 50%;
    right: 0;
}

.navigation-wrapper-bottom {
    bottom: 0;
    left: 0;
    right: 0;
}