<div id="wrapper" class="full-screen-background bg-3">

    @if(backgroundImageUrl){
    <img #backgroundImage class="background-image show"
        [src]="backgroundImageUrl"
        alt="Background image">
    }

    <div #carouselContainer id="carouselContainer"
        class="carousel-container solid-border">

        @for(item of carouselItems; track item;){
        <div #carouselPage class="carousel-item"
            [class.hidden]="$index != currentIndex">

            <!-- Title -->
            <h2 class="title">{{ item.title }}</h2>

            <!-- Screenshots -->
            @if( item.images){
            @for(image of item.images; track image; let index = $index){
            <img class="project-image" [src]="image"
                alt="Project Image {{index}}">
            }
            }

            <!-- Technology  & links-->
            <div class="tags">
                @if(item.link && item.linkIcon){
                <div class="icon-wrapper">
                    <a [href]="item.link" target="_blank">
                        <img class="small-icon" [src]="item.linkIcon"
                            alt="Project">
                    </a>
                </div>
                }
                @for(tag of item.tags; track tag){
                <div class="chip">{{ tag }}</div>
                }
            </div>

            <!-- Description -->
            <p [innerHTML]="item.description" class="text-body"></p>

        </div>
        }

    </div>

    <!-- Workflow -->
    @if(currentIndex>0){
    <div class="navigation-wrapper navigation-wrapper-left">
        <app-next-button
            [onClick]="onMoveToPreviousPage.bind(this)"
            direction="left"></app-next-button>
    </div>
    }
    @if(currentIndex<carouselItems.length-1){
        <div class="navigation-wrapper navigation-wrapper-right">
        <app-next-button
            [onClick]="onMoveToNextPage.bind(this)"
            direction="right"></app-next-button>
    </div>
    }

</div>