.btn {
    position: relative;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-color: #ffffff;
    border: 1px solid #3498db;
    color: #3498db;
    overflow: hidden;
    animation: flash 5s infinite;
    margin-bottom: 1rem;
}

.btn:hover {
    background-color: #ffffff;
    color: #3498db;
}

.btn::before,
.btn::after {
    content: '';
    position: absolute;
    width: 1rem;
    height: 1rem;
    margin-top: -0.6em;
    margin-left: -0.6em;
    border-left: 2px solid #3498db;
    border-bottom: 2px solid #3498db;
}

.down::after,
.down::before {
    transform: rotate(-45deg);
}

.right::after,
.right::before {
    transform: rotate(-135deg);
}

.left::after,
.left::before {
    transform: rotate(45deg);
}