.btn {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ffffff;
    border: 1px solid #3498db;
    color: #3498db;
    cursor: pointer;
    overflow: hidden;
    animation: pulse 5s infinite;
    margin-bottom: 1rem;
}

.btn:hover {
    background-color: #ffffff;
    color: #3498db;
}

.btn::before,
.btn::after {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    margin-top: -10px;
    margin-left: -8px;
    border-left: 2px solid #3498db;
    border-bottom: 2px solid #3498db;
}

.down::after,
.down::before {
    transform: rotate(-45deg);
}

.right::after,
.right::before {
    transform: rotate(-135deg);
}

.left::after,
.left::before {
    transform: rotate(45deg);
}

@keyframes pulse {

    0%,
    50%,
    100% {
        opacity: 1;
    }

    25%,
    75% {
        opacity: 0.45;
    }
}