body {
    background-color: #222;
    color: #fff;
    font-family: 'system-ui', sans-serif;
    margin: 0;
    padding: 0;
}

// Disable automatic paddings that affect the full size pages
* {
    box-sizing: border-box;
}

@import './styles/background';
@import './styles/layout';
@import './styles/images';
@import './styles/icons';
@import './styles/navigation';
@import './styles/texts';
@import './styles/borders';
@import './styles/animation';