body {
    background-color: #222;
    color: #fff;
    font-family: 'apercu';
    margin: 0;
    padding: 0;
}

// Disable automatic paddings that affect the full size pages
* {
    box-sizing: border-box;
}

@import './styles/background';
@import './styles/layout';
@import './styles/images';