<app-go-back-button></app-go-back-button>

<div id="wrapper" class="full-screen-background bg-{{backgroundIndex}}">

    <!-- Background Image -->
    @if(backgroundImageUrl){
    <img #backgroundImage class="background-image show"
        [src]="backgroundImageUrl"
        alt="Background image">
    }

    <!-- Page -->
    <div class="page">
    <!-- Control section -->
    <div class="control-wrapper">
        @for(section of sections; track section.path){
        <div class="control">
            <a class="control-button show-cursor"
                (click)="onSelectSection(section)">
                <span class="control-icon">
                    {{section.icon}}
                </span>
                <span class="control-text"> {{section.name}}</span>
            </a>
        </div>
        }
    </div>

    <!-- Work -->
    <app-career-section [careerContent]="careerContent"></app-career-section>

    </div>

</div>
