// Global structure
.page {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

// All controls
.control-wrapper {
    display: flex;
    flex-direction: row;
    align-self: center;
    gap: 1rem;
    margin: 1rem;
}

// Single control
// .control {
//     padding: 1rem;
// }


.control-button span {
    text-decoration: none;
    color: white;
    text-decoration-line: underline;
    transition: color 0.3s ease-in-out;
    cursor: pointer;
}

.control-button span:hover {
    color: #79c7fa;
}

// Change display mode in mobile
@media (max-width: 767px) {
    .page{
        align-self: flex-start;
    }
    .control-wrapper{
        gap: 1.5rem;
        margin-top: 3rem;
        margin-bottom: 2rem;
    }
    .control-icon{
        font-size: x-large;
    }
    .control-text {
        display: none;
    }

}